@inject Services.IActionLoader Actions;
@inject Services.ISettingsLoader sl;
@inject Services.IPlayersLoader players;

@code{
    [Parameter] public State.Player? Player { get; set; }
    [Parameter] public Action Return { get; set; } = (() => { });
    bool Error = false;
    Models.CmdLoan model;
    protected override void OnInitialized()
    {
        model = new Models.CmdLoan(sl.Settings);
    }
    void DoBorrow()
    {
        var loan = new Dynamics.Commands.Loan(Player!.Id, (uint)model.Amount, model.Debt, model.Repayment, sl.Settings);
        if (Actions.Add(loan))
        {
            Return();
        }
        else
        {
            Error = true;
        }
    }
}
@if (Error)
{
    <p>Příliš vysoká částka. Celkový dluh nesmí překročit @(sl.Settings.DebtLimit)@Sym.Money</p>
}
<EditForm Model="@model" OnValidSubmit="DoBorrow">
    <DataAnnotationsValidator /><ValidationSummary />
    <label>Vypůjčený obnos:<br /><input type="number" @bind-value="model.Amount" @bind-value:event="oninput" min="1" autofocus /><br /></label>
    <label>Doba splácení:<br /><input type="number" @bind-value="model.Time" @bind-value:event="oninput" min="1" /><br /></label>
    <label>Splácený obnos:<br /><input value="@model.Debt" disabled="disabled" /><br /></label>
    <label>Výše splátky:<br /><input value="@model.Repayment" disabled="disabled" /><br /></label>
    <button type="submit">Půjčit si</button>
</EditForm>