@inject Services.IActionLoader actions;
@inject Services.ISettingsLoader sl;
@inject Services.IPlayersLoader players;
@inject Services.IProvincesLoader pr;

@code{
    [Parameter] public Action Return { get; set; } = (() => { });
    [Parameter] public State.Player? Player { get; set; }
    [Parameter] public State.Land? Land { get; set; }
    Dynamics.Commands.Purchase purchase => new Dynamics.Commands.Purchase(new State.PlayerArmy(sl.Settings, Player!, 0), Land!.Id, Land!.Price);
    void DoPurchase()
    {
        if (actions.Add(purchase!))
        {
            Return();
        }
    }
    void DoBorrowPurchase()
    {
        if (actions.Add(new Dynamics.Commands.Loan(Player!.Id, purchase.Price - Player!.Money, sl.Settings)))
        {
            DoPurchase();
        }
    }
}
@if (purchase.Price > Player!.Money)
{
    <p>@Land!.Name stojí @(Land!.Price)@Sym.Money. Chceš si půjčit @(purchase.Price - Player!.Money) a koupit? </p>
    <button @onclick="DoBorrowPurchase">Koupit na dluh</button>
}
else if (!purchase.Allowed(players, pr.Provinces))
{
    Return();
}
else
{
    <p>@Land!.Name stojí @(Land!.Price)@Sym.Money</p>
    <button @onclick="DoPurchase">Koupit</button>
}