@inject Services.IActionLoader Actions;
@inject Services.ISettingsLoader sl;
@inject Services.IPlayersLoader players;
@inject Services.IProvincesLoader pr;

@code{
    [Parameter] public Action Return { get; set; } = (() => { });
    [Parameter] public State.Player? Player { get; set; }
    [Parameter] public State.Land? Land { get; set; }
    Dynamics.Commands.Purchase purchase => new Dynamics.Commands.Purchase(new State.PlayerArmy(sl.Settings, Player!, 0), Land!.Id, Land!.Price);
    void DoPurchase()
    {
        if (Actions.Add(purchase!))
        {
            Return();
        }
    }
}
@if (Land!.Price > Player!.Money)
{
    <p>Nemáš dost peněz na to, aby sis provincii @Land!.Name mohl koupit. Stojí @(Land!.Price)@Sym.Money</p>
}
else if (!purchase.Allowed(players, pr.Provinces))
{
    Return();
}
else
{
    <p>@Land!.Name stojí @(Land!.Price)@Sym.Money</p>
    <button @onclick="DoPurchase">Koupit</button>
}