@inject Services.IActionLoader Actions;
@inject Services.ISettingsLoader sl;

@code{
    [Parameter] public Action Return { get; set; } = (() => { });
    [Parameter] public State.Land? Land { get; set; }
    [Parameter] public State.Player? Player { get; set; }
    Models.CmdRecruit model = new Models.CmdRecruit();
    protected override void OnInitialized()
    {
        model.Soldiers = (int)Player!.Money;
    }
    void DoRecruit()
    {
        var recruitment = new Dynamics.Commands.Recruitment(Player!.Id, Land!.Id, new State.PlayerArmy(sl.Settings, Player!, (uint)model.Soldiers));
        if (Actions.Add(recruitment))
        {
            Return();
        }
    }
}
@if (Player!.Money == 0)
{
    Return();
}
@if (model.Soldiers > Player!.Money)
{
    <p>Máš jen @(Player!.Money)@Sym.Money</p>
}
<EditForm Model="@model" OnValidSubmit="DoRecruit">
    <DataAnnotationsValidator/><ValidationSummary/>
    <label>
        @Land!.Name má @Land!.Soldiers vojáků. Kolik chcete naverbovat?<br />
        <InputNumber @bind-Value="model.Soldiers" min="1" autofocus /><br />
    </label>
    <button type="submit">Verbovat</button>
</EditForm>