@inject Services.IActionLoader Actions;
@inject Services.ISettingsLoader sl;

@code{
    [Parameter] public Action Return { get; set; } = (() => { });
    [Parameter] public State.Land? Land { get; set; }
    [Parameter] public State.Player? Player { get; set; }
    int Recruited { get; set; }
    protected override void OnInitialized()
    {
        Recruited = (int)Player!.Money;
    }
    void DoRecruit()
    {
        var recruitment = new Dynamics.Commands.Recruitment(Player!.Id, Land!.Id, new State.PlayerArmy(sl.Settings, Player!, (uint)Recruited));
        if (Actions.Add(recruitment))
        {
            Return();
        }
    }
}
@if (Player!.Money == 0)
{
    Return();
}
@if (Recruited > Player!.Money)
{
    <p>Máš jen <Money>@Player!.Money</Money></p>
}
<label>Počet vojáků:<br/><input @bind-value="Recruited" @bind-value:event="oninput" min="1" max="@Player!.Money"/><br/></label>
<button @onclick="DoRecruit">Verbovat</button>