@inject Services.IActionLoader actions;

@code{
    [Parameter] public State.Player? Player { get; set; }
    [Parameter] public State.Player? Associate { get; set; }
    [Parameter] public Action Return { get; set; } = (() => { });
    Models.CmdTransaction model = new Models.CmdTransaction();
    bool Error = false;
    void DoDonate()
    {
        var donation = new Dynamics.Commands.Donation(Player!.Id, Associate!.Id, (uint)model.Amount);
        if (actions.Add(donation))
        {
            Return();
        }
        else
        {
            Error = true;
        }
    }
}
@if (Error)
{
    <p>Příliš vysoká částka. Můžeš věnovat nejvýše tolik, kolik máš, minus tvůj dluh.</p>
}
<EditForm Model="@model" OnValidSubmit="DoDonate">
    <DataAnnotationsValidator /><ValidationSummary />
    <label>
        Darovaná částka:<br />
        <InputNumber @bind-Value="model.Amount" min="1" autofocus /><br />
    </label>
    <label>Příjemce:<br/><input type="text" value="@Associate!.Name" disabled="disabled" /><br /></label>
    <button type="submit">Věnovat</button>
</EditForm>