@inject Services.IPlayersLoader players;
@inject Services.ISettingsLoader sl;
@inject Services.ILoginSession login;

@code{
	[Parameter] public Action<string> Navigate { get; set; } = (x => { });
	LoginModel model = new LoginModel();
	bool Wrong = false;
	void LoginAction()
	{
		if (players[model.Id].Password.IsCorrect(model.Password))
		{
			Navigate(login.Add(model.Id));
		}
		else
		{
			Wrong = true;
			model.Password = "";
		}
	}
}

@if (Wrong)
{
	<p>Zadané heslo není správné. Zkus to ještě jednou!</p>
}
<EditForm Model="@model" OnSubmit="LoginAction">
	<DataAnnotationsValidator/><ValidationSummary/>
	<label>
		Hráč:<br/>
		<IntSelect @bind-Value="model.Id" Options="@players.Where(p => p.GetType() == typeof(Player))" Id="@(p => p.Id)" Text="p => p.Name"/><br/>
	</label>
	<label>Heslo:<br/><InputText type="password" @bind-Value="model.Password"/><br/></label>
	<button type="submit">Přihlásit se</button>
</EditForm>