@inject Services.IPlayersLoader players;
@inject Services.ISettingsLoader sl;

@code{
    [Parameter] public Action<string> GoTo { get; set; } = (s => { });
    [Parameter] public Action<int?> LogIn { get; set; } = (x => { });
    Models.Login model = new Models.Login();
    bool Wrong = false;
    void LoginAction()
    {
        if (players[model.Id].Password == State.Password.FromString(model.Password))
        {
            LogIn(model.Id);
        }
        else
        {
            Wrong = true;
            model.Password = "Map";
        }
    }
}

@if (Wrong)
{
    <p>Zadané heslo není správné. Zkus to ještě jednou!</p>
}
<EditForm Model="@model" OnSubmit="LoginAction">
    <DataAnnotationsValidator /><ValidationSummary />
    <label>
        Hráč:<br />
        <IntSelect @bind-Value="model.Id" Options="@players.Where(p => p.IsHuman)" Id="@(p => p.Id)" Text="p => p.Name"/><br/>
    </label>
    <label>Heslo:<br /><InputText type="password" @bind-Value="model.Password" /><br /></label>
    <button type="submit">Přihlásit se</button>
</EditForm>