@inject Services.INewGame new_game;
@inject Services.ISettingsLoader sl;

@using Mode = StartSwitch.Mode;

@code{
	[Parameter] public Action<Mode> GoTo { get; set; } = (s => { });
	NewGameModel model = new NewGameModel();
	void New()
	{
		if (!string.IsNullOrWhiteSpace(model.OldPassword) && !string.IsNullOrWhiteSpace(model.NewPassword))
		{
			new_game.New(model.GetSettings(sl.Settings));
			GoTo(Mode.Registration);
		}
		else
		{
			model.OldPassword = model.NewPassword = "";
		}
	}
}

<EditForm Model="@model" OnValidSubmit="New">
	<DataAnnotationsValidator/><ValidationSummary/>
	<label>Staré heslo:<br/><InputText type="password" @bind-Value="model.OldPassword"/><br/></label>
	<label>Nové heslo:<br/><InputText type="password" @bind-Value="model.NewPassword"/><br/></label>
	<button type="submit">Vytvořit</button>
</EditForm>