@inject Services.IPlayersLoader players;

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
}
<nav>
	<a @onclick="Return">Zpět</a>
	<a class="this">Výsledky</a>
</nav>
<main>
	<PowerGraphs players="@players"/>
</main>