@inject Services.IProvincesLoader provinces;
@inject Services.INewGame newgame;

<label>Jméno:<br/><input type="text" @bind-value="@Username"/></label><br/>
<label>Heslo:<br/><input type="password" @bind-value="@Password"/></label><br/>
<p>Vyber si zemi, kde budeš začínat:</p>
<Map Width="1000" Height="1000" Provinces="provinces" SelectedColor="newgame.NextColor" OnClick="OnClick"
	 FontSize="9" Name="p => p is State.Land L && L.IsStart ? Sym.Flag + p.Name : p.Name"/>
<button @onclick="OnSubmit">Registrovat</button>

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
	string Username { get; set; } = "";
	string Password { get; set; } = "";
	Land? Selected = null;
	static bool IsValidLand(Province prov) => prov is Land land && !land.Occupied && land.IsStart;
	Province? OnClick(int i, Province? from)
	{
		if (IsValidLand(provinces[i]))
		{
			Selected = provinces[i] as State.Land;
		}
		return Selected;
	}
	void OnSubmit()
	{
		if (!string.IsNullOrWhiteSpace(Username) && !string.IsNullOrWhiteSpace(Password) && Selected is Land)
		{
			newgame.Registration(Username, new Password(Password), Selected);
			Return();
		}
	}
}