@inject Services.IPlayersLoader players;

@code{
    [Parameter] public Action<int?> LogIn { get; set; } = (x => { });
    public enum Mode { Login, Registration, StartGame, NewGame }
    Mode Current;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Current = players.Count > 0 ? Mode.Login : Mode.Registration;
    }
    void GoTo(Mode mode)
    {
        Current = mode;
        this.StateHasChanged();
    }
}
<StartMenu GoTo="GoTo" This="@Current" />
<main>
    @if (Current == Mode.Login)
    {
        <Login LogIn="LogIn" />
    }
    else if (Current == Mode.Registration)
    {
        <Registration LogIn="LogIn" />
    }
    else if (Current == Mode.StartGame)
    {
        <StartGame GoTo="GoTo" />
    }
    else if (Current == Mode.NewGame)
    {
        <NewGame GoTo="GoTo" />
    }
</main>