@inject Services.IPlayersLoader players;
@inject Services.IGameLoader game;

@code{
	[Parameter] public Action<string> Navigate { get; set; } = (x => { });
	public enum Mode { Login, Registration }
	Mode Current = Mode.Login;
	void GoTo(Mode mode)
	{
		Current = mode;
		this.StateHasChanged();
	}
}
<StartMenu GoTo="GoTo" This="Current"/>
<main>
	@if (Current == Mode.Registration)
	{
		<Registration Return="() => GoTo(Mode.Login)"/>
	}
	else if (game.IsActive)
	{
		<Login Navigate="Navigate"/>
	}
	else
	{
		<Waiting/>
	}
</main>