@inject Services.IPlayersLoader players;
@inject Services.IGameLoader game;

@code{
	[Parameter] public Action<string> Navigate { get; set; } = (x => { });
	public enum Mode { Login, Registration }
	Mode Current;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		Current = players.Count >= 2 ? Mode.Login : Mode.Registration;
	}
	void GoTo(Mode mode)
	{
		Current = mode;
		this.StateHasChanged();
	}
}
<StartMenu GoTo="GoTo" This="@Current"/>
<main>
	@if (Current == Mode.Login)
	{
		<Login Navigate="Navigate"/>
	}
	else
	{
		<Registration GoTo="GoTo"/>
	}
</main>