@inject Services.INewGame new_game;
@inject Services.IPassword pw;

@using Mode = StartSwitch.Mode;

@code{
    [Parameter] public Action<Mode> GoTo { get; set; } = (s => { });
    string Password { get; set; } = "";
    void Start()
    {
        if (pw.IsCorrect(Password))
        {
            new_game.Start();
            GoTo(Mode.Login);
        }
    }
}

<label>Heslo:<br/><input type="password" @bind-value="@Password"/><br/></label>
<button @onclick="Start">Zahájit</button>