@inject Services.INewGame new_game;
@inject Services.IPassword pw;

@using Mode = StartSwitch.Mode;

@code{
    [Parameter] public Action<Mode> GoTo { get; set; } = (s => { });
    Models.StartGame model = new Models.StartGame();
    void Start()
    {
        if (pw.IsCorrect(model.Password))
        {
            new_game.Start();
            GoTo(Mode.Login);
        }
    }
}
<EditForm Model="@model" OnSubmit="Start">
    <DataAnnotationsValidator/><ValidationSummary/>
    <label>Heslo:<br/><InputText type="password" @bind-Value="model.Password"/><br/></label>
    <button type="submit">Zahájit</button>
</EditForm>